@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@400;700;800&family=Merriweather:wght@400;700&display=swap");

html {
  font-family: "Merriweather Sans", sans-serif;
}

*,
:before,
:after {
  font-family: inherit;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
