@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@400;700;800&family=Merriweather:wght@400;700&display=swap");

:root {
  --primary-color: #3498db;
  --secondary-color: #627b8b;
  --primary-text-color: #2c3e50;
  --secondary-text-color: #b0b8bc;
}

html {
  font-family: "Merriweather Sans", sans-serif;
}

*,
:before,
:after {
  font-family: inherit;
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 90vh;
  font-family: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media only screen and (max-width: 1000px) {
  body {
    display: inherit;
  }
}

input,
button {
  outline: none;
}
